<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/faq.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="faq" id="faq">
      <div class="container">
        <div class="title-block">
          <h1>
            frequently<br />
            asked<br />
            <span class="highlight">question</span>
          </h1>
          <img
            class="container-image"
            src="../images/faq/decor bg 4.png"
            alt="dotted-bg"
          />
        </div>
        <div class="accordion-container">
          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Lorem ipsum dolor sit amet.
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>

          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Lorem ipsum dolor sit amet.
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>

          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Lorem ipsum dolor sit amet.
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
