<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Hello, I am <span>Fullstack developer</span></h1>
      <a class="hero-order-btn" href="#work-together">
        <p class="hero-order-btn-text caption">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 60 32"
            fill="none"
          >
            <path
              d="M2 14a2 2 0 1 0 0 4v-4zm57.414 3.414a2 2 0 0 0 0-2.828L46.686 1.858a2 2 0 1 0-2.828 2.828L55.172 16 43.858 27.314a2 2 0 1 0 2.828 2.828l12.728-12.728zM2 18h56v-4H2v4z"
            />
          </svg>
          Order the project
        </p>
        <span></span>
      </a>
      <p class="hero-description caption">
        I work with people all over the world to create
        <span>impressive</span> and <span>functional websites</span> that
        reflect each client’s unique personality.
      </p>
    </div>
  </div>
  <ul class="hero-social">
    <li>
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        aria-label="Instagram"
        >Instagram</a
      >
    </li>
    <li>
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        aria-label="Facebook"
        >Facebook</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
        target="_blank"
        aria-label="LinkedIn"
        >Linkedin</a
      >
    </li>
    <li>
      <a
        href="https://github.com/goitacademy"
        target="_blank"
        aria-label="GitHub"
        >GitHub</a
      >
    </li>
  </ul>
</section>
