<section class="my-projects" id="my-projects">
  <div class="container">
    <h2 class="hedline-my-projects">
      my&nbsp;<span class="hedline-span-my-project">projects</span>
    </h2>
    <ul class="gallery">
      <!-- + -->
    </ul>
    <button class="btn-load-more-my-project">
      <span class="load-more-span-my-project">LOAD MORE</span>
    </button>
  </div>
  <svg
    class="svg-visit-my-project"
    style="display: none"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
  >
    <symbol id="icon-visit-arrow" viewBox="0 0 32 32">
      <path
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-miterlimit="4"
        stroke-width="2.6667"
        d="M6.333 25.667l19.333-19.333M25.667 6.333h-18M25.667 6.333v18"
      />
    </symbol>
  </svg>
</section>
<script type="module" src="./js/my-projects.js"></script>
