<section class="tech-skills" id="tech-skills">
  <div class="container">

    <h2 class="visually-hidden">Tech Skills</h2>

    <div class="marquee">
      <div class="marquee-inner">
        <span class="marquee-line">HTML/CSS</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">JavaScript</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">React</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">Node. js</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">React Native</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">Typescript</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">HTML/CSS</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">JavaScript</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">React</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">Node. js</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">React Native</span>
        <span class="marquee-dot"></span>
        <span class="marquee-line">Typescript</span>
        <span class="marquee-dot"></span>
      </div>
    </div>
    
    <div class="marquee">
      <div class="marquee-inner-rotate">
        <span class="marquee-line-rotate">HTML/CSS</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">JavaScript</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">React</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">Node. js</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">React Native</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">Typescript</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">HTML/CSS</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">JavaScript</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">React</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">Node. js</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">React Native</span>
        <span class="marquee-dot-rotate"></span>
        <span class="marquee-line-rotate">Typescript</span>
        <span class="marquee-dot-rotate"></span>
      </div>
    </div>

    </div>
  </div>
</section>
<script type="module" src="./js/tech-skills.js"></script>

