<section class="work-together" id="work-together">
  <div class="container">
    <div class="work-together-wraper">
    <div class="left-side">
      <h1>LET’S <span>WORK TOGETHER</span></h1>
      <div class="contact-text">CONTACT ME TO TRANSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.</div>
      

      <ul class="contact-info">
        <li class="li-info-work">
          <svg class="work-together-icon" width="24" height="24">
            <use href="/images/footer/symbol-defs.svg#icon-vector-work1" style="fill: var(--Accet-green, #00b068); "></use>
          </svg>
          <span><a href="tel:+380984567890">+38 098 456 78 90</a></span>
        </li>
        <li class="li-info-work">
          <svg class="work-together-icon" width="24" height="24">
            <use href="/images/footer/symbol-defs.svg#icon-vector-work2" style="fill: var(--Accet-green, #00b068); stroke: white"></use>
          </svg>
          <span><a href="https://mail.google.com/mail/?view=cm&fs=1&to=lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></span>
        </li>
        <li class="li-info-work">
          <img class="omg-img" src="/images/footer/map-omg.svg" alt="">
          <span><a href="https://maps.app.goo.gl/PPNB9Ns66MCT58eX9">USA, New York</a></span>
        </li>
      </ul>
  
      <!-- <div class="contact-info">
        <div><img src="phone.svg" alt="Phone"> +38 090 456 78 90</div>
        <div><img src="mail.svg" alt="Email"> lloydjefferson@gmail.com</div>
        <div><img src="location.svg" alt="Location"> USA, New York</div>
      </div> -->
    </div>

    <div class="right-side">
      <form class="form">
        <input type="email" placeholder="Your email*" required>
        <textarea placeholder="Message" style="height: 128px;"></textarea>
        <button type="button" onclick="openModal()">SEND MESSAGE</button>
      </form>
    </div>
  </div>
  
    
  </div>
  </div>

</section>
<script type="module" src="./js/work-together.js"></script>
