.container {
  min-width: 320px;
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  width: 320px;
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.highlight {
  color: var(--Accet-green, #00b068);
}

.container-bg-image {
  display: none;
}
/* accordion */
.accordion-container {
  margin-top: 40px; /* mobile*/
  flex: 1;
  width: 320px; /* mobile*/
  height: auto;
}

.ac {
  display: flex;
  flex-direction: column;
  width: 320px; /*mobile*/
  padding: 28px 24px;
  align-items: flex-start;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  border-bottom: 1px solid var(--Light-grey, #e4e5e6);
}

.ac-header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.ac-trigger {
  position: relative;
  overflow: hidden;
  width: 200px; /*mobile*/
  text-transform: uppercase;
  background: none;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
}

.ac .ac-trigger::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/faq/icons/button-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
  background-image: url('../images/faq/icons/button-up.svg');
}

.ac-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: start;
}

.ac.is-active {
  background-color: #bcdfd1;
}

.ac.is-active .ac-trigger {
  color: #00b068;
}

.ac-panel {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  width: 100%;
}

.ac-panel > * {
  padding-top: 12px;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .header-container {
    max-width: 594px;
    flex-shrink: 0;
  }
  h1 {
    width: 592px;
    font-size: 108px;
    line-height: 1.15;
  }
  /* accordion */
  .accordion-container {
    margin-top: 60px; /* mobile*/
    width: 704px; /* mobile*/
    height: 1120px;
  }

  .ac {
    width: 704px; /*mobile*/
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  .faq-inner {
    display: flex;
    justify-content: flex-start; /* Align children to the left */
    align-items: flex-start;
    gap: 104px;
    flex-wrap: wrap;
  }

  .header-container {
    max-width: 520px;
    flex-shrink: 0;
  }
  h1 {
    width: 520px;
  }

  .container-bg-image {
    display: block;
    margin-top: 240px;
    width: 526px;
    height: 408px;
    filter: blur(3.70084285736084px);
  }

  /* accordion */
  .accordion-container {
    margin-top: 276px; /* mobile*/
    /* width: 704px; mobile */
    height: 1020px;
  }

  .ac {
    width: 592px; /*mobile*/
  }
}
