footer {
  margin-top: auto;
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 12px;
}

.social-links {
  display: flex;
    gap: 24px;
    margin: 8px 0;
    font-size: 12px;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: black;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;
}


.copyright-24 {
  display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.03em;
      text-align: center;
}

.lloydjefferson {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .social-links {
    display: flex;
    gap: 40px;
      margin: 8px 0;
      font-size: 12px;
      flex-direction: row;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.03em;
}

.copyright-24 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}
 }

 @media (min-width: 1280px) {
  .sbornik {
    display: flex;
     align-items: center;
     justify-content: space-between;
}
}


.contact-section {
  border-top: 1px solid #ccc; 
  margin-top: 40px; 
  padding-top: 40px; 
}
