/* .faq-inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 104px;
  flex-wrap: wrap;
}

.header-container {
  max-width: 520px;
  flex-shrink: 0;
}

h1 {
  font-family: Impact;
  font-size: 108px;
  font-style: normal;
  font-weight: 400;
  line-height: 124px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  width: 520px;
}

.highlight {
  color: var(--Accet-green, #00b068);
}

.container-bg-image {
  margin-top: 240px;
  width: 526px;
  height: 408px;
  filter: blur(3.70084285736084px);
}

.accordion-container {
  margin-top: 276px;
  flex: 1;
  width: 592px;
  height: 744px;
}

.ac {
  display: flex;
  flex-direction: column;
  width: 592px;
  padding: 28px 24px;
  justify-content: start;
  align-items: flex-start; 
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  border-bottom: 1px solid var(--Light-grey, #e4e5e6);
}

.ac-header {
  display: flex;
  width: 100%; 
  justify-content: flex-start; 
}

.ac-trigger {
  position: relative;
  overflow: hidden;
  width: auto; 
  text-transform: uppercase;
  background: none;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
}

.ac .ac-trigger::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/faq/icons/button-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
  background-image: url('../images/faq/icons/button-up.svg');
}

.ac-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: start;
}

.ac.is-active {
  background-color: #bcdfd1;
}

.ac.is-active .ac-trigger {
  color: #00b068;
}

.ac-panel {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  width: 100%;
}

.ac-panel > * {
  padding-top: 12px;
} */
