:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
}

/* ---------- Мобилка ---------- */
.reviews {
  padding-top: 80px;
  padding-bottom: 40px;
}

.reviews-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.reviews-list {
  display: flex;
  /* gap: 32px; */
}

.reviews-list-item {
  border-radius: 16px;
  padding: 32px;
  background-color: #e4e5e6;
  margin-top: 40px;
}

.reviews-list-item:last-child {
  display: none;
}

.reviews-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.reviews-list-item-author {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  align-items: center;
}

.reviews-list-item-img {
  border-radius: 50%;
}

.reviews-list-item-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.reviews-list-btns {
  display: flex;
  justify-content: end;
  gap: 16px;
  margin-top: 24px;
}

.reviews-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #292929;
  width: 40px;
  height: 40px;
  stroke: #292929;
  fill: transparent;
}

.reviews-btn.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.reviews-list-item {
  margin-top: 40px;
}

/* ---------- Планшет ---------- */
@media only screen and (min-width: 768px) {
  .reviews {
    padding-top: 124px;
    padding-bottom: 62px;
  }

  .reviews-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
  }

  /* .reviews-list {
  } */

  .reviews-list-item {
    margin-top: 60px;
  }

  .reviews-list-item-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }

  /* .reviews-list-item-author {
  } */
  /* .reviews-list-item-img {
  } */
  .reviews-list-item-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }

  /* .reviews-list-btns {
  } */

  /* .reviews-btn {
  } */

  /* .reviews-right {
  } */

  /* .reviews-left {
  } */
}

/* ---------- Десктоп ---------- */
@media only screen and (min-width: 1280px) {
  .reviews {
    padding-top: 164px;
    padding-bottom: 82px;
  }

  .reviews-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
  }

  /* .reviews-list {
  } */

  .reviews-list-item {
    margin-top: 80px;
  }

  .reviews-list-item:last-child {
    display: inline;
  }

  .reviews-list-item-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }

  /* .reviews-list-item-author {
  } */

  /* .reviews-list-item-img {
  } */

  .reviews-list-item-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }

  /* .reviews-list-btns {
  } */

  .reviews-btn {
    width: 48px;
    height: 48px;
  }

  /* .reviews-right {
  } */

  /* .reviews-left {
  } */
}